body{
    font-family: 'Montserrat', sans-serif;
}

header,
.s_about,
.s_btn_send{
    background-color: #1ABC9C;
}

.s_nav_top{
    background-color: #2C3E50; 
}

.s_card{
    background-color: orange;
    border-radius: 1rem;
    overflow: hidden;
}

.s_nav_link:hover{
    color: #1ABC9C;
}

.s_line{
    border-radius: 2rem;
}

.fa-star{
    font-size: 2rem;
}

.s_star_dark .fa-star{
    color: #2C3E50;
}

.s_star_dark .s_line{
    background-color: #2C3E50;
}