body{
    font-family: 'Montserrat', sans-serif;
}

header,
.s_about,
.s_btn_send{
    background-color: #1ABC9C;
}

.s_nav_top{
    background-color: #2C3E50; 
}

.s_card{
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.s_card:hover .s_overlay{
    opacity: 1;
}

.s_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(26, 188, 156, 0.6);
    opacity: 0;
}

.s_overlay .fa-plus{
    font-size: 5rem;
}

.s_nav_link:hover{
    color: #1ABC9C;
}

.s_line{
    border-radius: 2rem;
}

.fa-star{
    font-size: 2rem;
}

.s_star_dark .fa-star{
    color: #2C3E50;
}

.s_star_dark .s_line{
    background-color: #2C3E50;
}